<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178446863454-qgaovidff0m1hpvoas25mb1ale69peh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178446863454-qgaovidff0m1hpvoas25mb1ale69peh5</string>
	<key>API_KEY</key>
	<string>AIzaSyB2keUp4SLEs-p8yApp2Vwuntt80L7AsIw</string>
	<key>GCM_SENDER_ID</key>
	<string>178446863454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeaLions-CanCodeToo.Frugl</string>
	<key>PROJECT_ID</key>
	<string>frugl-ec272</string>
	<key>STORAGE_BUCKET</key>
	<string>frugl-ec272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178446863454:ios:6c2cfcb5c1a1bbd28ef8cf</string>
</dict>
</plist>